.about-container {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include respond(phone){
        margin: 0 auto;
    }



    h2 { 
        color: #141c3a;
        font-size: 2.5rem;
        font-family: eurostile, sans-serif;
        font-weight: 800;
        margin-right: 5rem;

        @include respond(phone){
            text-align: center;
            font-size: 2rem;
            margin-right: 0;
        }
    }

    .subheading {
        text-align: center;
        margin: 1rem;
        font-size: 1.5rem;
        font-family: "europa", sans-serif;
        font-weight: 300;
        line-height: 1.5;
        color: rgba(10, 10, 10, 0.9);
        margin-right: 5rem;
        

        @include respond(phone){
            text-align: center;
            font-size: 1rem;
            margin-right: 0;
        }
    }

    .bitmoji-container {
        margin: .5rem;
        // padding: 1.6rem;
        // border: 10px solid rgb(117, 16, 247);
        // border-radius: 50%;
        margin-right: 5rem;

        @include respond(phone){
            margin-right: 0;
        }

        img{
            width: 9rem;
            height: 9rem;
            position: relative;
            
        }
    }

    
}

.paragraph-container {
    background: rgb(117, 16, 247);
    padding: 8rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   

    @include respond(phone){
        padding: 2rem;
    }


    h3 {
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-family: eurostile, sans-serif;
        font-weight: 700;
        margin-bottom: 2rem;

    }

    button{
        line-height: 1.5px;
        font-weight: 500;
        font-size: 1.2rem;
        color: white;
        padding: 1.5rem;
        text-decoration: none;
        border: 2px solid #white;
        border-radius: 290486px;
        padding-left: calc(1em + 0.25em);
        padding-right: calc(1em + 0.25em);
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        font-weight: 500;

        &:hover {
            background-color: #7510F7;
            color: white;
            transform: translateY(-2px);
        }
    }

    .aboutme-p {
        text-align: center;
        color: #fff;
        font-family: europa, sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5;
        vertical-align: baseline;
        margin-bottom: 3%;
        max-width: 60rem;

        @include respond(phone){
            font-size: 1rem;
        }

        
        
    }
}
