@phone : ~"(max-width: 600px)";
@tablet : ~"(max-width: 800px)";

.about-container {
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container h2 {
  color: #141c3a;
  font-size: 2.5rem;
  font-family: eurostile, sans-serif;
  font-weight: 800;
}

.about-container .subheading {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "europa", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(10, 10, 10, 0.9);
}

.about-container .bitmoji-container {
  margin: .5rem;
}

.about-container .bitmoji-container img {
  width: 9rem;
  height: 9rem;
  position: relative;
}

.paragraph-container {
  background: #7510f7;
  padding: 8rem;
  padding-bottom: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paragraph-container h3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-family: eurostile, sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

.paragraph-container button {
  line-height: 1.5px;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  padding: 1.5rem;
  text-decoration: none;
  border: 2px solid #white;
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-weight: 500;
}

.paragraph-container button:hover {
  background-color: #7510F7;
  color: white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.paragraph-container .aboutme-p {
  text-align: center;
  color: #fff;
  font-family: europa, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: baseline;
  margin-bottom: 3%;
  max-width: 60rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem;
  min-height: 3.25rem;
}

.navigation a {
  text-decoration: none;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #141c3a;
}

.navigation ul {
  margin: 1%;
}

.navigation ul .regnav {
  text-decoration: none;
  color: #141c3a;
}

.navigation ul .circle-button {
  line-height: 1.5px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #7510F7;
  padding: .6rem;
  text-decoration: none;
  border: 2px solid #7510F7;
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-weight: 500;
}

.navigation ul .circle-button:hover {
  background-color: #7510F7;
  color: white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.skills-container {
  height: 15%;
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  border-radius: 12px;
  background: white;
  margin-top: -8%;
}

.skills-container .skills-heading {
  font-family: "eurostile", sans-serif;
  font-weight: 700;
  color: #141c3a;
  font-size: 1.5rem;
  line-height: 1.125;
  letter-spacing: -.03em;
  margin: 2rem;
}

.skills-container .column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.skills-container .column-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-container .column-container ul li {
  margin-top: .25em;
  font-size: 1.3rem;
  font-family: "europa", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(10, 10, 10, 0.9);
}

.skills-container #middle-container {
  width: 33%;
  border-right: 1px solid #E6ECF8;
  border-left: 1px solid #E6ECF8;
}

.skills-container i {
  color: #7510F7;
}

h4 {
  text-align: center;
  font-family: "eurostile", sans-serif;
  font-weight: 800;
  color: #141c3a;
  font-size: 1.8rem;
  line-height: 1.125;
  margin: 3rem;
}

.projects-container {
  margin: 0 auto;
  width: 50%;
  padding: 2rem;
  font-size: 1rem;
  font-family: "europa", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(10, 10, 10, 0.9);
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  border-radius: 12px;
  background: white;
}

.projects-container .project-image-container {
  width: 70rem;
}

.projects-container .project-image-container img {
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
}

.projects-container .project-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem 2rem;
}

.projects-container .project-text-container .contributions {
  font-weight: 700;
  font-size: 1.2rem;
  margin: .5rem;
}

.projects-container .project-text-container ul {
  margin: .5rem 2rem;
  list-style-type: circle;
}

.projects-container .project-text-container ul li {
  font-size: 1rem;
  line-height: 1.35;
  padding: .2rem;
}

.projects-container .project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-container .project-box .techstack {
  font-weight: 500;
}

.projects-container .project-box p {
  margin: .5rem;
}

.projects-container .project-box .project-summary-container {
  margin-left: 4rem;
}

.projects-container .project-box .project-summary-container .project-title {
  font-family: "eurostile", sans-serif;
  font-weight: 700;
  color: #29005f;
  font-size: 1.5rem;
  line-height: 1.125;
  letter-spacing: -.03em;
  margin: 1rem;
}

.projects-container .project-box .project-summary-container-mid {
  margin-right: 4rem;
}

.projects-container .project-box .project-summary-container-mid .project-title {
  font-family: "eurostile", sans-serif;
  font-weight: 700;
  color: #29005f;
  font-size: 1.5rem;
  line-height: 1.125;
  letter-spacing: -.03em;
  margin: 1rem;
}

.button-container {
  margin: 0 auto;
  text-align: center;
}

.button-container button {
  margin: .5rem 2rem;
  line-height: 1.5px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #7510F7;
  padding: 1.3rem;
  text-decoration: none;
  border: 2px solid #7510F7;
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  font-weight: 500;
  background-color: white;
}

.button-container button:hover {
  background-color: #7510F7;
  color: white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.footer-container {
  height: 10vh;
  background-color: #7510F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
  margin-top: 5%;
}

.footer-container h2 {
  color: #fff;
  text-align: center;
  font-family: europa, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: baseline;
  margin-bottom: 1%;
  max-width: 60rem;
  opacity: .8;
}

.footer-container .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 15%;
}

.footer-container .icons-container i {
  color: white;
  padding: 4%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-container .email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.footer-container .email-container i {
  color: white;
  padding: 4%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-container .email-container p {
  color: #fff;
  font-family: europa, sans-serif;
  opacity: .8;
  margin-left: 4%;
}

.footer-container .copyright {
  color: #fff;
  font-family: europa, sans-serif;
  opacity: .8;
  margin-left: 4%;
  font-size: .8rem;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */