.navigation {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    min-height: 3.25rem;

    a {
        text-decoration: none;
        font-family: europa, sans-serif;
        font-style: normal;
        font-weight: 300;
        color: #141c3a;
    }

    ul {
        margin: 1%;


        .regnav {
            text-decoration: none;
            color: #141c3a;
        }
        
        .circle-button {
            line-height: 1.5px;
            font-weight: 500;
            font-size: 1.2rem;
            color: #7510F7;
            padding: .6rem;
            text-decoration: none;
            border: 2px solid #7510F7;
            border-radius: 290486px;
            padding-left: calc(1em + 0.25em);
            padding-right: calc(1em + 0.25em);
            transition: all .2s ease-in-out;
            -webkit-transition: all .2s ease-in-out;
            font-weight: 500;

            &:hover {
                background-color: #7510F7;
                color: white;
                transform: translateY(-2px);
            }
        }
    }

}