
   h4 {
    text-align: center;
    font-family: "eurostile", sans-serif;
    font-weight: 800;
    color: #141c3a;
    font-size: 1.8rem;
    line-height: 1.125;
    margin: 3rem;
}

.projects-container {
    margin: 0 auto;
    width: 50%;
    padding: 2rem;
    font-size: 1rem;
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(10, 10, 10, 0.9);
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    border-radius: 12px;
    background: white;
    

    .project-image-container {
      width: 70rem;
        

        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
        }

        

        
    }
    
   .project-text-container {
       display: flex;
       flex-direction: column;
       padding: .5rem 2rem;

       .contributions {
            font-weight: 700;
            font-size: 1.2rem;
            margin: .5rem;
    }

    ul {
        margin: .5rem 2rem;
        list-style-type: circle;

        li {
            font-size: 1rem;
            line-height: 1.35;
            padding: .2rem;
        }
    }
   }

    .project-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .techstack {
            font-weight: 500;
        }

        p {
            margin: .5rem;
        }

        

        .project-summary-container {
            margin-left: 4rem;

            .project-title {
                font-family: "eurostile", sans-serif;
                font-weight: 700;
                color: rgb(41, 0, 95);
                font-size: 1.5rem;
                line-height: 1.125;
                letter-spacing: -.03em;
                margin: 1rem;
            }

        }

        .project-summary-container-mid {
            margin-right: 4rem;

            .project-title {
                font-family: "eurostile", sans-serif;
                font-weight: 700;
                color: rgb(41, 0, 95);
                font-size: 1.5rem;
                line-height: 1.125;
                letter-spacing: -.03em;
                margin: 1rem;
            }

        }



        
    }
}

